{% extends 'abonados/home.html' %}
{% block contenido %}

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Acerca de Mi</h1>
    <hr>
    <p>Mi nombre es <b>Fernando Echeverria</b></p>
    <p>Soy de la ciudad de Las Flores, Provincia de Buenos Aires, Argentina.</p>
    <p>Tengo 35 años, vivo en pareja y tengo un hijo hermoso.</p>
    <p>Trabajo en una ISP que también presta servicio de cable desde hace 6 años.</p>
    <p>Disfruté mucho de hacer este curso y me voy con un montón de conocimientos!</p>
    <p>Muchas gracias por todo!</p>
    
    

{% endblock contenido %}
